<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="app_name" source="spring.application.name" />
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="LOG_FILE" value="${app_name}/app.log"/>
    <jmxConfigurator/>

    <!--开发环境-->
    <springProfile name="default,native">
        <property name="CONSOLE_LOG_PATTERN"
                  value="%clr(%d{HH:mm:ss}){faint} %clr(%5p) %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}" />
        <appender name="CUSTOM_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CUSTOM_CONSOLE"/>
        </root>
    </springProfile>

    <!--测试、生产环境-->
    <springProfile name="stg,prd">
        <property name="LOG_PATH" value="/Users/liuyi/Documents/Project/Liting/aicloud/core/logs/"/>
        <appender name="CUSTOM_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>
        <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH}/${LOG_FILE}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i</fileNamePattern>
                <MaxFileSize>10MB</MaxFileSize>
            </rollingPolicy>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerInfo>true</includeCallerInfo>
            </encoder>
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <!--<timestamp>-->
                    <!--<timeZone>UTC</timeZone>-->
                    <!--</timestamp>-->
                    <pattern>
                        <pattern>
                            {
                            "severity": "%level",
                            "service": "${app_name:-}",
                            "trace": "%X{X-B3-TraceId:-}",
                            "span": "%X{X-B3-SpanId:-}",
                            "exportable": "%X{X-Span-Export:-}",
                            "pid": "${PID:-}",
                            "thread": "%thread",
                            "class": "%logger{40}",
                            "rest": "%message"
                            }
                        </pattern>
                    </pattern>
                </providers>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CUSTOM_CONSOLE"/>
            <appender-ref ref="ROLLING_FILE"/>
        </root>
    </springProfile>

</configuration>